*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "top";
    src: url(fonts/inlanders/Inlanders\ Demo.otf);
}
@font-face {
    font-family: "games";
    src: url(fonts/llpixel/LLPIXEL3.ttf);
}
@font-face {
    font-family: "titulos";
    src: url(fonts/skygraze/Skygraze.otf);
}


html{
    font-size: 62.5%;
    background-image: url("../imagenes para tpo/fondomain.jpg");
}
main{
    margin-left: 4rem;
    margin-right: 4rem;
}
header{
    margin: 0px;
}

i{
    font-size: 40px;
}
a{
    font-family: "top" ;
    font-size: 4rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    
}
a:hover {color: red;}
.juego{
    color: red;
    font-size: 3rem;
    font-family:initial;
}
.juego > img{
    width: 180px;
    height: 220px;
}

p{
    font-size: 2rem;
    margin-left: 8px;
}

h1{
    font-family: "games";
    font-size: 4rem;
    color: red;
}
h2{
    font-family: "titulos";
    font-size: 3rem;
    color: rgb(153, 124, 124);
}

.grid-container-top{
    display: grid;
    background-color: black;
    border: 2px solid red;
    grid-template-columns: 0.3fr 0.3fr 0.4fr 0.5fr 0.1fr 2fr;
}


.grid-container{
    display: grid;
    text-align: center;
    background-color: green;
    grid-template-columns: 20rem 40rem;
    border: 5px;
    border-style: solid blue;
}
.grid-container-juegos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: normal red;
    grid-row-gap: 25px;
}

.flex-container-main-populares{
    display: flex;
}

.grid-item{
    margin-top: 30px;

}
.flex-item{
    display: flex;
     border-style: outset;
     background-color: rgb(230, 81, 23);
    
}
.flex-item2{
    display: flex;
    background-color: transparent;
    margin-top: 10px;
    width: 1fr;
    margin-left: 280px;
    margin-bottom: 100px;
}
.flex-item3{
    flex-direction: row;
    justify-content: center;
}

#item1{
    font-size: 2rem;
}
#logo{
    margin: 10px 10px;
}
.empresas{
    margin-top: 40%;
}
.boton{
    display: flex;
    border-style: solid red;
    margin-bottom: 100px;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.boton > a{
    margin: 0 2px;
}

#imagen-index{
    width: 1207px;
}



#animacion{
    background-color: rgb(182, 23, 23);
    height: 18vh;

    animation-name: cambiaColor;
    animation-duration: 10s;
    animation-delay: 3s;    
}

@keyframes cambiaColor{
    from{background-color:rgb(87, 78, 78);}
    to{background-color: rgba(151, 16, 16, 0.753);}
}

#animacion > h3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 10rem;
    font-family: "titulos";
}
.footer{
    grid-area: footer;
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    position: fixed; 
    bottom: 0%;
    margin-top: 0%;
}

#index{
    background-image: url("../imagenes para tpo/Hero2.jpg");
    size: 975px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    font-size: 3rem;
    border-style: solid;
    border-color: brown;
    height: 800px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#empresas{
    color: red;
}


@media only screen and (min-width:320px) and (max-width:767px)
{
    iframe{
        width: 200px;
        height: 200px;
    }
    .flex-item{
        flex-wrap: wrap;
        width: 280px;
        margin-right: 50px;
    }
    .flex-item > div{
        
        margin-top: 5px;
    }
    .flex-item > div > p{
    margin: 0;        
    }
    .flex-item2{
        margin-left: 35px;
    }
    .grid-container-top{
        grid-template-columns: 64px 64px 64px 64px 62px;
    }
    h6{
        font-size: 10px;
        margin-right: 5px;
    }
    #logo{
        width: 40px;
        height: 40px;
        margin-top: 5px;
    }
    #index{
        background-image: url("..//imagenes para tpo/Hero2.jpg");
        size: 320px;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        font-size: 1rem;
        border-style: solid;
        border-color: brown;
        height: 500px;
        color: white;
        font-family:'Courier New', Courier, monospace;
    }
    #index > p{
        font-size: 1rem;
    }
    #index > div{
        justify-content: flex-start;
    }
    #animacion{
        height: 5vh;
    }
    #animacion > h3{
        font-size: 3rem;
    }
    .empresas{
        margin-top: 2vh;
    }
    #empresas{
        font-size: 2rem;
    }
    .footer{
        width: 100%;
    }
    .grid-container-juegos{
        display: grid;
        grid-template-columns: 1fr  ;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 65px;
        font-style: normal red;
        grid-row-gap: 25px;   
    }
    i{
        font-size: 2rem;
    }
    #dere{
        font-size: 1.5rem;
    }
    main{
        margin-left: 2rem;
    }
}

@media only screen and (min-width:375px) {
    main{
        margin-left: 4rem;
    }
}

@media only screen and (min-width:375px) {
    main{
        margin-left: 6rem;
    }
}


@media only screen and (min-width:768px) and (max-width:1022px) {
    h6{
        font-size: 15px;
    }
    #animacion{
        height: 13vh;
    }
    #animacion > h3 {
        font-size: 8rem;
    }
    .empresas{
        margin-top: 55vh;
    }
    #index > p{
        font-size: 16px;
    }
    .grid-container-juegos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        margin-top: 20px;
        margin-bottom: 20px;
        font-style: normal red;
        grid-row-gap: 25px;   
    }
    .flex-item2{
        margin-left: 8rem;
    }
    main{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .flex-item{
        flex-wrap: wrap;
    }
    .flex-item > div{
        margin-left: 5rem;
    }
    i{
        font-size: 3rem;
    }
}

@media only screen and (min-width:1024px) and (max-width:1439px){
    #index > p{
        font-size: 18px;
    }
    #index{
        font-family:'Courier New', Courier, monospace;
    }
    #animacion{
        height: 15vh;
    }
    h6{
        font-size: 20px;
    }
    .grid-container-juegos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        margin-top: 20px;
        margin-bottom: 20px;
        font-style: normal red;
        grid-row-gap: 25px;   
    }
}

